name: Tests

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Unit tests
      run: |
        npm install
        npm test
      env:
        CI: true
    - name: Acceptance tests
      run: docker-compose -f spec/acceptance/docker-compose.yml up --force-recreate --exit-code-from node
      
